altgraph==0.17.2
appdirs==1.4.4
click==8.0.3
colorama==0.4.4
future==0.18.2
Panda3D==1.10.9
pefile==2021.9.3
prompt-toolkit==1.0.14
Pygments==2.10.0
PyInquirer==1.0.3
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pywin32-ctypes==0.2.0
QtAwesome==1.1.1
QtPy==1.11.2
qtstrap==0.0.25
regex==2021.11.10
six==1.16.0
wcwidth==0.2.5
